altair
attrs
blinker
cachetools
certifi
charset-normalizer
click
contourpy
cycler
fonttools
gitdb
GitPython
idna
Jinja2
jsonschema
jsonschema-specifications
kiwisolver
MarkupSafe
matplotlib
narwhals
numpy
packaging
pandas
pillow
plotly
protobuf
pyarrow
pydeck
pyparsing
python-dateutil
pytz
referencing
requests
rpds-py
seaborn
six
smmap
streamlit
streamlit-option-menu
tenacity
toml
tornado
typing_extensions
tzdata
urllib3
watchdog
google-genai
openai